version: 2
jobs:
  build:
    docker:
      - image: cypress/base:10.16.0

    working_directory: ~/src

    steps:
      - checkout

      - restore_cache:
          keys:
            - dependencies-{{ checksum "package.json" }}
            - dependencies-

      - run:
          name: Install dependencies
          command: yarn install

      - save_cache:
          paths:
            - node_modules
          key: dependencies-{{ checksum "package.json" }}

      - run:
          name: Audit vulnerabilities
          command: yarn audit:ci

      - run:
          name: Static code analyze
          command: yarn lint

      - run:
          name: Unit tests
          command: yarn test

      - run:
          name: Run compilation
          command: yarn build:prod

      - run:
          name: Run integration tests
          command: yarn cy:ci
